
@import url("https://use.typekit.net/cvr1fph.css");

@font-face {
  font-family:'Commodore';
  src: url("../fonts/bescii.ttf") format("truetype"); /*IE9 Compat Modes */
  src: url("../fonts/bescii.woff") format('woff'), /* IE6-IE8 */
       url("../fonts/bescii.woff2") format('woff2'); /* Modern Browsers */
  font-weight: normal, sans-serif;
}

@font-face {
  font-family: 'Recoleta';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./fonts/Recoleta\ Complete\ Family/Recoleta_Regular.otf') format("opentype");
}

@font-face {
  font-family: 'Recoleta-Semibold';
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/Recoleta\ Complete\ Family/Recoleta_SemiBold.otf') format("opentype");
}


@font-face {
  font-family: 'Circular';
  font-weight: 600;
  font-display: swap;
  src: url('./fonts/circular-bold.otf') format("opentype");
}


body {
    font-family: 'Circular';
    width: 100%;
    height: 100%;
    background: #000;
    overflow: hidden;
  }
  .scroll {
    height: 20%;
    font-size: 120px;
    line-height: 20vh;
    white-space: nowrap;
    color: #fff;
  }
  .invert {
    color: #000;
    background: #eee;
  }
  .segment {
    display: inline-block;
    padding-left: 25%;
    animation: scroll 10s infinite linear;
  }
  .reverse .segment {
    animation-direction: reverse;
  }
  .speed-half .segment {
    animation-duration: 20s;
  }
  .offset-25 {
    transform: translateX(-25%);
  }
  .offset-50 {
    transform: translateX(-50%);
  }
  .offset-75 {
    transform: translateX(-75%);
  }
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-o-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scroll {
    height: 20%;
    font-size: 120px;
    line-height: 20vh;
    white-space: nowrap;
    color: #fff;
  }
  
  .green {
    background-color: #115A58;
  }

  .orange {
    background-color: #F37E64;
  }

  .red {
    background-color: #E86262;
  }

.blue {
    background-color: #27A5A4; 
  }

  .invert {
    color: #000;
    background: #eee;
  }
  .segment {
    display: inline-block;
    padding-left: 10%;
    animation: scroll 5s infinite linear;
  }
  .reverse .segment {
    animation-direction: reverse;
  }
  .speed-half .segment {
    animation-duration: 20s;
  }
  .offset-25 {
    transform: translateX(-25%);
  }
  .offset-50 {
    transform: translateX(-50%);
  }
  .offset-75 {
    transform: translateX(-75%);
  }
  @-moz-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-webkit-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @-o-keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  